.control-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    margin: 10px;
}

.file-input {
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    padding: 10px;
    outline: none;
  }