button {
    cursor: pointer;
    margin: 10px;
}

.container {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-grid-list {
    width: 60%;
    height: 50%;
}

.file-input {
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    padding: 10px;
    outline: none;
}