button {
    cursor: pointer;
    margin: 10px;
}

.container {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-wrap {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-grid-list {
    width: 60%;
    height: 50%;
}

.file-input {
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    padding: 10px;
    outline: none;
}

.email-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mat-flat-button {
    margin-top: 50px;
    padding: 0px 20px;
    border-radius: 0;
}

@media(max-width: 550px) {

    .container {
        width: 90%;
    }
    .upload-controls {
        flex-direction: column;
    }
}

