<div class="container">
    <div class="tab-wrap mat-elevation-z8" *ngIf="authenticated">
        <div class="menu">
            <h4 (click)="activeMenu = 'upload'" [ngClass]="{'active': activeMenu === 'upload'}">Upload CSV</h4>
            <h4 (click)="activeMenu = 'email'" [ngClass]="{'active': activeMenu === 'email'}">Report Email</h4>
        </div>
        <div class="content-wrap">
            <div class="upload-wrap" *ngIf="activeMenu === 'upload'">
                <div class="form-group">
                    <label for="tab">Select Table: </label>
                    <select class="form-control"  id="tab" [(ngModel)]="table">
                        <option value="" disabled>Select Table</option>
                        <option value="pluckentry">Plucking Table</option>
                        <option value="cultentry">Cultivate Table</option>
                        <option value="jobentry">Job Table</option>
                        <option value="tmentry">TM Table</option>
                        <option value="fuelentry">Fuel Table</option>
                        <option value="sortentry">Sort Table</option>
                        <option value="flentry">FL Table</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date"> Date: </label>
                    <input class="form-control" type="date" name="date" id="date" [(ngModel)]="uploadDate">
                </div>
                <div class="form-group">
                    <label for="date"> CSV File: </label>
                    <input class="form-control" type="file" id="file" (change)="handleFileInput($event.target.files)">
                </div>
                <button mat-raised-button color="accent" *ngIf="!isUploading" [disabled]="table === ''" (click)="uploadFileToServer()">Upload File</button>
                <app-spinner *ngIf="isUploading"></app-spinner>
            </div>
            <div class="email-wrap" *ngIf="activeMenu === 'email'">
                <div class="form-group">
                    <label for="email">Report Date: </label>
                    <input class="form-control" type="date" name="email" id="email" [(ngModel)]="emailDate">
                </div>
                <button mat-raised-button color="accent" *ngIf="!isUploading" [disabled]="emailDate === ''" (click)="emailReportHandler()">Send Email</button>
                <app-spinner *ngIf="isUploading"></app-spinner>
            </div>
        </div>
    </div>
    <div class="content-wrap" *ngIf="!authenticated">
        <div class="form-group">
            <input type="password" id="auth" [(ngModel)]="token">
            <button mat-raised-button color="accent" (click)="authenticateHandler()">Authenticate</button>
        </div>
    </div>
</div>