.mat-drawer-container {
    height: 90vh;
}


.mat-nav-list {
    background-color: #4caf50;
}
 
.mat-toolbar-row {
    text-align: center;
}
/*
.mat-list-item {
    color: black;
} */

.mat-list-item:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: white;
    color: #4caf50;
} 